@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL BACKGROUND IMAGE */
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
body {
    background-color: #1e2326;
}
.bg-dark-pattern {
    background-image: url(https://www.traversymedia.com/images/bg-pattern-1.png);
    color: #fff;
}

/* SECCION NAVBAR */
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.nav-selector{
    @apply transition duration-300 ease-in-out hover:text-[#1CB698] font-bold
}

/* Secction body */
.body-part-2 {
    position: relative;
}

.background-circle {
    background: #28292d;
    border-radius: 50%;
    width: 550px;
    height: 550px;
    z-index: 9;
    box-shadow: 0 0 20px #00000080;
    border: #1CB698;
}
  
.hoodie-guy {
    position: absolute;
    background: url(https://res.cloudinary.com/dytlbyofu/image/upload/v1689604735/porfolio%20tools/Hoodie-guy_mpmd9p.png);
    top: 105px;
    height: 550px;
    width: 550px;
    background-size: cover;
}
  
.circle {
    position: relative;
    top: 400px;
    left: 220px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animateCircle 40s linear infinite;
}
  
@keyframes animateCircle {
    0% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
        translateY(-30px);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
        translateY(-30px);
    }
}
  
.circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2e32;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 16))) translateZ(300px);
}
  
.circle span img {
    display: flex;
    align-items: center;
    justify-items: center;
    object-fit: cover;
}

@media (max-width: 768px) {  
    .background-circle {
        margin-top: 30px;
        width: 350px;
        height: 350px;
    }
    .hoodie-guy {
        top: 120px;
        height: 350px;
        width: 350px;
    }
    .circle {
        position: relative;
        top: 300px;
        left: 140px;
        width: 60px;
        height: 60px;
    }
    @keyframes animateCircle {
        0% {
          transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
            translateY(-30px);
        }
        100% {
          transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
            translateY(-30px);
        }
    }
    .circle span {
        transform: rotateY(calc(var(--i) * calc(360deg / 16))) translateZ(200px);
    }
   
}

/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url("https://res.cloudinary.com/dytlbyofu/image/upload/v1673887902/Portafolio%20assets/fondo_dhhybr.jpg");
    background-size: cover;
    height: fit-content;
    color: #fff;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* SECCION ABOUT ME */
.sobremi button{
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
@media (max-width: 768px) {  
    .ul-center{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;        
    }
}
.sobremi button:hover .overlay{
    width: 100%;
}

.social-icons {
    @apply transition duration-700 border-solid border-2 px-3 py-2 m-3 rounded-full text-[22px] border-white hover:bg-greenBorder
}

.strong-tag-info {
    @apply text-greenBorder inline-block w-[130px]
}

.button-cv {
    @apply text-[16px] text-white p-6 py-4 border-2 rounded-md uppercase after:no-underline
}

h3{
    @apply text-2xl text-white font-bold font-mono mb-6 md:text-left text-center
}

.interes-icon{
    @apply flex-col justify-center m-2 text-center text-white w-[100px] h-[100px] bg-grayIcon rounded-xl transition-colors duration-300 hover:bg-greenBorder
}
.interes-i {
    @apply text-[30px] mt-5
}

/* SECCION SKILLS */
/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skill img {
    width: 35px;
    border-radius: 100%;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .git{
    width: 0%;
    animation: 2s git forwards;
}
@keyframes git {
    0%{width: 0%;}
    100%{width: 85%;}
}
.skills .skill .docker{
    width: 0%;
    animation: 2s docker forwards;
}
@keyframes docker {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 80%;}
}
.skills .skill .taildwind{
    width: 0%;
    animation: 2s taildwind forwards;
}
@keyframes taildwind {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .pwa{
    width: 0%;
    animation: 2s pwa forwards;
}
@keyframes pwa {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .postman{
    width: 0%;
    animation: 2s postman forwards;
}
@keyframes postman {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .vue{
    width: 0%;
    animation: 2s vue forwards;
}
@keyframes vue {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .node{
    width: 0%;
    animation: 2s node forwards;
}
@keyframes node {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .sql{
    width: 0%;
    animation: 2s sql forwards;
}
@keyframes sql {
    0%{width: 0%;}
    100%{width: 55%;}
}

/* SECCION PORTFOLIO */
.grid {
    display: grid;
    justify-items: center;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
}

/* Proyecto Modulos */
.container-proyects {
    @apply grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4 justify-center mt-5 m-6
}
.a-tag-container {
    @apply flex justify-center transition duration-500 hover:-translate-y-6
}

/* Portafolio */
.img-tag-container {
    @apply object-cover hover:duration-300 hover:shadow-xl hover:shadow-white rounded-md w-[100%] hover:saturate-200 grayscale-0
}

.img-tag-container-porfolio {
    @apply object-fill rounded-md w-[50%] flex justify-center transition duration-500 hover:-translate-y-3
}

/* Footer Secction */
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.footer-tag{
    @apply inline-block border-2 rounded-[100%] w-[42px] h-[42px] leading-10 text-xl mx-3
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: fixed;
        right: 0;
        top: 75px;
        background-color: #252a2ebd;
        width: 100%;
        text-align: center;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        padding: 10px 0;
    }
    nav.responsive li:hover{
        transition: 1s;
        transform: scale(1.2);
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}